In [9]:
import pandas as p 
import numpy as n 
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

In [1]:
pwd

'/Users/ka53/Desktop/bishkek scooter'

In [10]:

df = p.read_csv('/Users/ka53/Desktop/Bishkek Scooter Rental.csv')

In [11]:
df

      ID            Модель   Компания           Статус     Широта    Долгота
0      1      Okai ES200 B  RentStroy         Доступен  42.857493  74.598913
1      2  Ninebot Max Plus      TO GO         Доступен  42.860573  74.589943
2      3      Okai ES200 B      TO GO         Доступен  42.872189  74.608139
3      4      Kugoo M2 Pro      TO GO            Занят  42.863482  74.600317
4      5      Kugoo M2 Pro      TO GO  На обслуживании  42.862608  74.606418
..   ...               ...        ...              ...        ...        ...
495  496   Xiaomi M365 Pro  RentStroy  На обслуживании  42.876899  74.616329
496  497        OKAI ES400      TO GO            Занят  42.881995  74.599591
497  498   Xiaomi M365 Pro  RentStroy         Доступен  42.854893  74.580358
498  499        OKAI ES400        Jet         Доступен  42.867202  74.607624
499  500  Ninebot Max Plus  Яндекс Go  На обслуживании  42.875213  74.609874

[500 rows x 6 columns]

EDA

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        500 non-null    int64
 1   Модель    500 non-null    object
 2   Компания  500 non-null    object
 3   Статус    500 non-null    object
 4   Широта    500 non-null    float64
 5   Долгота   500 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 23.6+ KB

In [16]:
df.columns

Index(['ID', 'Модель', 'Компания', 'Статус', 'Широта', 'Долгота'], dtype='object')

In [17]:
df.describe()

               ID      Широта     Долгота
count  500.000000  500.000000  500.000000
mean   250.500000   42.870678   74.599459
std    144.481833    0.011824    0.011050
min      1.000000   42.850041   74.580038
25%    125.750000   42.860201   74.590703
50%    250.500000   42.871413   74.599508
75%    375.250000   42.880824   74.608115
max    500.000000   42.889951   74.619970

In [18]:
df['Компания'].unique()

array(['RentStroy', 'TO GO', 'Яндекс Go', 'Jet'], dtype=object)

In [19]:
df['Модель'].unique()

array(['Okai ES200 B', 'Ninebot Max Plus', 'Kugoo M2 Pro',
       'Xiaomi M365 Pro', 'OKAI ES400'], dtype=object)

In [24]:
df_vis = df[['ID','Модель','Компания','Статус']]

In [25]:
corr = df_vis.corr()

ValueError: could not convert string to float: 'Okai ES200 B'