In [4]:
import pandas as p 
import numpy as n

In [1]:
pwd

'/Users/ka53/Desktop/bishkek scooter'

In [5]:
df = p.read_csv('/Users/ka53/Desktop/Bishkek Scooter Rental.csv')

In [6]:
df

      ID            Модель   Компания           Статус     Широта    Долгота
0      1      Okai ES200 B  RentStroy         Доступен  42.857493  74.598913
1      2  Ninebot Max Plus      TO GO         Доступен  42.860573  74.589943
2      3      Okai ES200 B      TO GO         Доступен  42.872189  74.608139
3      4      Kugoo M2 Pro      TO GO            Занят  42.863482  74.600317
4      5      Kugoo M2 Pro      TO GO  На обслуживании  42.862608  74.606418
..   ...               ...        ...              ...        ...        ...
495  496   Xiaomi M365 Pro  RentStroy  На обслуживании  42.876899  74.616329
496  497        OKAI ES400      TO GO            Занят  42.881995  74.599591
497  498   Xiaomi M365 Pro  RentStroy         Доступен  42.854893  74.580358
498  499        OKAI ES400        Jet         Доступен  42.867202  74.607624
499  500  Ninebot Max Plus  Яндекс Go  На обслуживании  42.875213  74.609874

[500 rows x 6 columns]